{% extends 'layout.html' %}
{% block content %}
<section class="header">
    <h1>Chris Graham</h1>
    <p>Software Engineer</p>
    <!--I would suggest choosing a different picture here.-->
    <!--Like maybe a hobby photo-->
    <img src="{{ url_for('static', filename='images/take1.jpeg') }}" alt="Headshot">

</section>
<section id="about-page">
    <div id="triangle7"></div>
    <div id="triangle8"></div>
    <h2>About Me</h2>
    <p>
        I'm a Python developer based in New York with a strong background in Computer Science. 
        I completed my undergraduate studies in CS from Thomas Edison State University, where I learned programming concepts and software development. 
        After graduation, I joined a startup in New York as a Python developer, where I built web applications and APIs using Python and its related frameworks.
    </p>
    <p>
        Over the years, I've gained extensive experience in designing, developing, and maintaining Python-based software systems. 
        I have a strong understanding of data structures, algorithms, and computer architecture and I'm highly proficient in Python programming. 
        I've worked with a range of technologies such as Flask, HTML, CSS, JavaScript, and SQL.
    </p>
    <p>
        I enjoy working collaboratively with other developers, designers, and stakeholders to deliver high-quality software products. 
        I'm a quick learner and always eager to explore new technologies. I'm passionate about building robust and scalable software systems that meet the needs of the end-users. 
        Outside of work, I enjoy reading, hiking, and exploring the city's food scene. I'm also an active contributor to the Python community, attending meetups and conferences 
        to share my experiences and learn from others in the field.
    </p>
    <a href="#"><i class="far fa-file"></i>Resume</a>
</section>

{% endblock %}