{% extends 'layout.html' %}

{%block button%}
<li class="nav-item">
    <a class="nav-link" href="#skills">Skills</a>
</li>
{%endblock%}

{% block content %}
<section class="header">
    <h1>Python Developer</h1>
    <p>Coding in Python is like having a superpower to create anything I can imagine.</p>
    <img src="https://cdn.pixabay.com/photo/2016/11/29/13/14/attractive-1869761_1280.jpg" alt="Headshot of myself">
</section>
<section id="about">
    <h2>About Me</h2>
    <p>
        I'm a Python developer based in New York with a strong background in Computer Science. 
        I completed my undergraduate studies in CS from Thomas Edison State University, where I learned programming concepts and software development. 
        After graduation, I joined a startup in New York as a Python developer, where I built web applications and APIs using Python and its related frameworks.
        I have a strong understanding of data structures, algorithms, and computer architecture and I'm highly proficient in Python programming. 
        I've worked with a range of technologies such as Flask, HTML, CSS, JavaScript, and SQL.
    </p>
    <div id="triangle1"></div>
    <div id="triangle2"></div>
</section>
<section id="skills">
    <i class="fas fa-laptop-code"></i>
    <h2>Skills</h2>
    <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>SQLAlchemy</li>
        <li>Git</li>
        <li>JavaScript</li>
        <li>SQL</li>
        <li>HTML</li>
        <li>CSS</li>
    </ul>
</section>
<section id="projects">
    <div id="triangle3"></div>
    <i class="fas fa-file-code"></i>
    <h2>Projects</h2>
    <div id="project-list">
        {% for project in projects %}
        <div id="project1" class="a-project">
            <h3>{{ project.title }}</h3>
            <a href="{{ project.github_link }}" class="github-btn">
                <i class="fab fa-github"></i>
                View on GitHub
            </a>
            <p>
                {{ project.date.strftime('%B %Y') }}
            </p>
            <p>
                {{ project.skills }}
            </p>
            <p>
                {{ project.desc }}
            </p>
        </div>
        {% endfor %}
    </div>
    <div id="triangle4"></div>
</section>
<section id="contact">
    <i class="fas fa-paper-plane"></i>
    <h2>Contact Me</h2>
    <p>
        "Thank you for visiting my website. If you have any questions or inquiries, 
        please don't hesitate to reach out to me at my email address below. 
        I look forward to hearing from you!"
    </p>
    <p>
        <i class="fas fa-envelope"></i>
        my_email@email.com
    </p>
</section>

{% endblock %}